<!--<div class="row">-->

  <div class="col-sm-4">

    <div class="sidebar ">
      <br />

      <%= form_tag products_path, method: :get, class: 'form-inline mini', style: "margin-bottom: 0px;" do %>

      <div class="row ">

        <div class="col-sm-11">

          <div class="panel panel-default">
            <div class="panel-heading">Advanced Search</div>
            <div class="panel-body">

              <div class="form-group">
                <input type="search" class="form-control" name="search[q]" placeholder="Search" value="<%= (params[:search].present? && params[:search][:q].present?) ? params[:search][:q] : "" %>">
              </div>

              <% @search.response.facets.each do |facet,facet_data| %>
                      <div class='row filter-row'>
                        <div class="col-sm-6">
                          <label><%= ActiveSupport::Inflector.humanize(facet) %></label>
                        </div>
                          <div class="col-sm-6">
                          <select class=' form-control facet_select' size='5' name="search[<%= facet %>][]" multiple>
                          <% facet_data.terms.each do |f| %>
                              <% selected = (params[:search].present? && params[:search][facet].present? && params[:search][facet].include?(f[:term].to_s)) ? true : false %>
                              <option data-selected="<%= selected %>" value="<%= f[:term] %>" <%= selected ? "selected" : "" %> >
                                <%= f[:term] %>
                                (<%= f[:count] %>)
                              </option>
                          <% end %>
                          </select>
                          </div>
                      </div>
                  <% end %>

              <div class="row filter-row">
                <div class="col-sm-12">
                  <label>Price range</label>
                </div>
                <div class="col-sm-6">
                  <div class="input-group">
                    <span class="input-group-addon">$</span>
                    <input type="email" class="form-control price-input" placeholder="min" />
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="input-group">
                    <span class="input-group-addon">$</span>
                    <input type="email" class="form-control price-input" placeholder="max" />
                  </div>
                </div>
              </div>


              <div class='form-group'>
                <button type="submit" class="btn btn-primary pull-right" id="search_btn">Search</button>
              </div>




            </div>
          </div>




        </div>
      </div>
    </div>

      <% end %>
  </div>
<!--</div>-->