<% provide(:title, "Results") %>

<div class="container">

  <br />
  <div class="row">
    <div class="col-sm-12">
    <ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <!--<li><a href="#">Vehicles</a></li>-->
    <!--<li class="active">Cars</li>-->
    <!--<li class="active">4,699 results for <strong>"Cars"</strong> in London</li>-->
    </ol>
    </div>
  </div>

  <div class="row">

  <%= render 'left_column' %>

    <div class="col-sm-8 pull-right listings">

      <div class="row listing-row" style="margin-top: -10px;">
        <div class="pull-left">
          <strong>Today, <%= Time.now.strftime("%A #{Time.now.day.ordinalize} %B") %></strong>
          <br>
          <small><%= "Page #{@search.current_page} of #{@search.total_pages} (#{@search.total_count} results)" %></small>
        </div>
        <div class="pull-right">
          <span style="">Sort by:&nbsp;&nbsp;&nbsp;</span>
          <a href="#"  data-toggle="tooltip" data-placement="top" title="Sort by relevance"> Relevance <i class="fa fa-chevron-up"></i></a>
          <a href="#" data-toggle="tooltip" data-placement="top" title="Sort from lowest to highest price"> Price <i class="fa fa-chevron-down"></i></a>
        </div>
      </div>

      <% @search.each do |product| %>

          <div class="row  listing-row">

            <div class="col-sm-2">
              <%= link_to image_tag(product.aw_thumb_url, alt: product.product_name), product_path(product.id), class: 'thumbnail'%>
            </div>

            <div class="col-sm-10">
              <h3>
                <%= link_to "#{product.product_name} - <strong> #{product.display_price}</strong>".html_safe, product_path(product)%>
              </h3>
              <p class="muted">
                Brand <strong><%= product.brand.name %> </strong> |
                Vendor <strong><%= product.merchant.name %></strong>
              </p>
              <p><%= product.description.force_encoding("utf-8") %></p>
              <p class="ad-description muted">
              <p>
                <br>
            <span class="classified_links pull-right">
              <%= link_to 'Details', product_path(product.id), class: 'link-info underline'%>&nbsp;
            &nbsp;
              <%= link_to 'Buy From Vendor', product.aw_deep_link, class: 'btn btn-warning', rel: 'nofollow'%>&nbsp;
            </span>
              </p>
            </div>

          </div>

      <% end %>


      <div class="pull-right">
        <%= paginate @search %>
      </div>


      </div>
    </div>
</div>