<% provide(:title, @product.product_name) %>
<%= render 'layouts/jumbotron_well' %>
<div class="container" id="listings-page">
  <div class="row">
    <div class="col-sm-12 listing-wrapper listings-top listings-bottom">
      <br />
      <br />

      <div class="row">

        <!--<div class="col-sm-7">-->

          <!--<ol class="breadcrumb">-->
            <!--&lt;!&ndash;<li><a href="listings.html" class="link-info"><i class="fa fa-chevron-left"></i> Back to listings</a></li>&ndash;&gt;-->
            <!--<li><a href="#">Home</a></li>-->
            <!--&lt;!&ndash;<li><a href="#">Vehicles</a></li>&ndash;&gt;-->
            <!--&lt;!&ndash;<li class="active">Cars</li>&ndash;&gt;-->
          <!--</ol>-->

        <!--</div>-->

      </div>

      <div class="row">

        <div class="col-sm-7">
          <h1><%= @product.product_name %></h1>
          <!--<p>Brand: <%= @product.brand.name %></p>-->
        </div>


        <div class="col-sm-5">

          <p class="price"><%= @product.display_price %></p>

        </div>

      </div>

      <div class="row">

      <div class="col-sm-7">
        <div class="row">
          <div class="col-xs-3" style="width: 100px;">
            <!-- Place this tag where you want the share button to render. -->
            <div class="g-plus" data-action="share" data-annotation="bubble"></div>

            <!-- Place this tag after the last share tag. -->
            <script type="text/javascript">
                (function() {
                    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                    po.src = 'https://apis.google.com/js/platform.js';
                    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                })();
            </script>
          </div>

          <div class="col-xs-3" style="width: 100px;">
            <a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
          </div>

          <div class="col-xs-3" style="width: 100px;">
            <div class="fb-share-button" data-href="http://developers.facebook.com/docs/plugins/" data-type="button_count"></div>
          </div>

        </div>
      </div>


    </div>
    <hr />


      <div class="row">

        <div class="col-sm-7">

          <h3>Product Details</h3>

          <div class="row">

            <div class="col-xs-6">
              <table class="table">

                <tbody>
                <tr>
                  <th>Brand</th>
                  <td><%= @product.brand.name %></td>
                </tr>
                <tr>
                  <th>Vendor</th>
                  <td><%= @product.merchant.name %></td>
                </tr>
                <tr>
                  <th>Specifications</th>
                  <td><%= @product.specifications %></td>
                </tr>
                </tbody>
              </table>
            </div>
            <div class="col-xs-6">
              <table class="table">

                <tbody>
                <tr>
                  <th>Price</th>
                  <td><%= @product.display_price %></td>
                </tr>
                <tr>
                  <th>Delivery Cost</th>
                  <td>Something here</td>
                </tr>
                <tr>
                  <th>Web Price</th>
                  <td>Something here</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
          <p>
            <%= @product.description.force_encoding("utf-8") %>
            <br />
            <br />
            <%= link_to 'Buy From Vendor', @product.aw_deep_link, class: 'btn btn-warning', rel: 'nofollow'%>
          </p>

          <!--<p>-->
            <!--<span class="classified_links ">-->
                <!--<a class="link-info" href="#"><i class="fa fa-share"></i> Share</a>&nbsp;-->
                <!--<a class="link-info " href="#"><i class="fa fa-star"></i> Add to favorites</a>-->
                <!--&nbsp;<a class="link-info " href="#"><i class="fa fa-envelope-o"></i> Contact</a>-->
                <!--&nbsp;<a class="link-info fancybox-media" href="http://maps.google.com/?ll=48.85796,2.295231&spn=0.003833,0.010568&t=h&z=17"><i class="fa fa-map-marker"></i> Map</a></span>-->
          <!--</p>-->

        </div>

        <div class="col-sm-5 center zoom-gallery">
          <div class="row center">

            <div class="col-sm-12">
              <%= image_tag(@product.aw_image_url, alt: @product.product_name, class: 'raised img-responsive', style: "margin: 0 auto") %>
              <br />
            </div>
          </div>
          <br />
          <div class="col-sm-12" style="text-align: center; margin: 0 auto">
            <%= link_to 'Buy From Vendor', @product.aw_deep_link, class: 'btn btn-warning', rel: 'nofollow'%>
            <br />
            <br />
            <p><%= @product.display_price %></p>
          </div>
          <br />

        </div>

      </div>

      <div class="col-sm-12 listings">
        <br />
        <div class="row">

          <div class="panel panel-default recent-listings hidden-xs">
            <div class="panel-heading">Recent Cars, Vans & Motorbikes ads in London</div>


            <div class="panel-body">

              <div class="row premium  listing-row">

                <div class="col-sm-2">
                  <a href="details.html" class="thumbnail " ><img alt="" src="css/images/listings/0.jpg"></a>
                </div>

                <div class="col-sm-10">
                  <div class="row">

                    <div class="col-sm-9">
                      <h3><a class=""  href="details.html">7 bedroom house for sale</a></h3>
                    </div>

                    <div class="col-sm-3">
                      <h3 class="price-text"><strong>&pound;3,350,000</strong></h3>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-12">
                      <p class="muted">Located in <strong>Richmond, London</strong></p>
                      <p class="muted">Posted Feb 05, 2014 to <a href="#" class="underline">Cars, Vans & Motorbikes</a></p><br />
                      <p>Excellent Condition. Displacement: 2,900 cc Power Output: 250 bhp Drivetrain: 2-WD  Second hand car for sale – 7377790212 Available car – beat – blue color, Honda city –white /black Indica ecs – white Alto – white Nano – red /white...</p><br />


                    </div>
                  </div>
                </div>

                <div class="col-sm-12">
                  <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-5">
                      <p class="ad-description">
                        <strong>2006</strong> |

                        <strong>98,000 miles</strong> |

                        <strong>2,696 cc</strong> |

                        <strong>Diesel</strong>
                      </p>
                    </div>
                    <div class="col-sm-5">
                      <p>
                                                <span class="classified_links pull-right">
                                                    <a class="link-info underline" href="#">Share</a>&nbsp;
                                                    <a class="link-info underline" href="#">Add to favorites</a>
                                                    &nbsp;<a class="link-info underline" href="#">Contact</a></span>
                      </p>
                    </div>
                  </div>
                </div>
              </div>


              <br />
              <div class="row   listing-row">

                <div class="col-sm-2">
                  <a href="details.html" class="thumbnail " ><img alt="" src="css/images/listings/1.jpg"></a>
                </div>

                <div class="col-sm-10">
                  <div class="row">

                    <div class="col-sm-9">
                      <h3><a class=""  href="details.html">1 bedroom flat for sale</a></h3>
                    </div>

                    <div class="col-sm-3">
                      <h3 class="price-text"><strong>&pound;229,950</strong></h3>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-12">
                      <p class="muted">Located in <strong>Richmond, London</strong></p>
                      <p class="muted">Posted Feb 05, 2014 to <a href="#" class="underline">Cars, Vans & Motorbikes</a></p><br />
                      <p>Excellent Condition. Displacement: 2,900 cc Power Output: 250 bhp Drivetrain: 2-WD  Second hand car for sale – 7377790212 Available car – beat – blue color, Honda city –white /black Indica ecs – white Alto – white Nano – red /white...</p><br />


                    </div>
                  </div>
                </div>

                <div class="col-sm-12">
                  <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-5">
                      <p class="ad-description">
                        <strong>2006</strong> |

                        <strong>98,000 miles</strong> |

                        <strong>2,696 cc</strong> |

                        <strong>Diesel</strong>
                      </p>
                    </div>
                    <div class="col-sm-5">
                      <p>
                                                <span class="classified_links pull-right">
                                                    <a class="link-info underline" href="#">Share</a>&nbsp;
                                                    <a class="link-info underline" href="#">Add to favorites</a>
                                                    &nbsp;<a class="link-info underline" href="#">Contact</a></span>
                      </p>
                    </div>
                  </div>
                </div>
              </div>


              <br />
              <div class="row   listing-row">

                <div class="col-sm-2">
                  <a href="details.html" class="thumbnail property_sold"  style="position:relative;"><img alt="" src="css/images/listings/2.jpg"></a>
                </div>

                <div class="col-sm-10">
                  <div class="row">

                    <div class="col-sm-9">
                      <h3><a class=""  href="details.html">2 bedroom apartment for sale</a></h3>
                    </div>

                    <div class="col-sm-3">
                      <h3 class="price-text"><strong>&pound;520,000</strong></h3>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-12">
                      <p class="muted">Located in <strong>Richmond, London</strong></p>
                      <p class="muted">Posted Feb 05, 2014 to <a href="#" class="underline">Cars, Vans & Motorbikes</a></p><br />
                      <p>Excellent Condition. Displacement: 2,900 cc Power Output: 250 bhp Drivetrain: 2-WD  Second hand car for sale – 7377790212 Available car – beat – blue color, Honda city –white /black Indica ecs – white Alto – white Nano – red /white...</p><br />


                    </div>
                  </div>
                </div>

                <div class="col-sm-12">
                  <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-5">
                      <p class="ad-description">
                        <strong>2006</strong> |

                        <strong>98,000 miles</strong> |

                        <strong>2,696 cc</strong> |

                        <strong>Diesel</strong>
                      </p>
                    </div>
                    <div class="col-sm-5">
                      <p>
                                                <span class="classified_links pull-right">
                                                    <a class="link-info underline" href="#">Share</a>&nbsp;
                                                    <a class="link-info underline" href="#">Add to favorites</a>
                                                    &nbsp;<a class="link-info underline" href="#">Contact</a></span>
                      </p>
                    </div>
                  </div>
                </div>
              </div>


              <br />
              <div class="row  last listing-row">

                <div class="col-sm-2">
                  <a href="details.html" class="thumbnail " ><img alt="" src="css/images/listings/3.jpg"></a>
                </div>

                <div class="col-sm-10">
                  <div class="row">

                    <div class="col-sm-9">
                      <h3><a class=""  href="details.html">2 bedroom house for sale</a></h3>
                    </div>

                    <div class="col-sm-3">
                      <h3 class="price-text"><strong>&pound;550,000</strong></h3>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-12">
                      <p class="muted">Located in <strong>Richmond, London</strong></p>
                      <p class="muted">Posted Feb 05, 2014 to <a href="#" class="underline">Cars, Vans & Motorbikes</a></p><br />
                      <p>Excellent Condition. Displacement: 2,900 cc Power Output: 250 bhp Drivetrain: 2-WD  Second hand car for sale – 7377790212 Available car – beat – blue color, Honda city –white /black Indica ecs – white Alto – white Nano – red /white...</p><br />


                    </div>
                  </div>
                </div>

                <div class="col-sm-12">
                  <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-5">
                      <p class="ad-description">
                        <strong>2006</strong> |

                        <strong>98,000 miles</strong> |

                        <strong>2,696 cc</strong> |

                        <strong>Diesel</strong>
                      </p>
                    </div>
                    <div class="col-sm-5">
                      <p>
                                                <span class="classified_links pull-right">
                                                    <a class="link-info underline" href="#">Share</a>&nbsp;
                                                    <a class="link-info underline" href="#">Add to favorites</a>
                                                    &nbsp;<a class="link-info underline" href="#">Contact</a></span>
                      </p>
                    </div>
                  </div>
                </div>
              </div>


              <br />
            </div>

          </div>
        </div>
      </div>


      <!--END LISTING-->

    </div>
  </div>

</div>