<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %> | Cycling App</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- Just for debugging purposes. -->
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->

  <!-- include pace script for automatic web page progress bar  MC: Not included..-->
  <script>
    paceOptions = {
      elements: true
    };
  </script>

  <!--<script src="assets/js/pace.min.js"></script>-->
</head>

<body>

<%= render 'layouts/modal' %>
<%= render 'layouts/navbar' %>

<div class="container main-container headerOffset">
  <%= yield %>
</div>
<!-- /.main-container -->

<div class="gap"> </div>

<%= render 'layouts/footer' %>

<!-- Le javascript
================================================== -->
</body>
</html>



